<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # where the magic is done !
    RewriteRule (.*)/$ $1 [R=301,L]

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.html [PT,L]
</IfModule>